html,
body {
  height: 100vh;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(50px, 1fr) 10fr minmax(50px, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    'header header header'
    'aside main main'
    'footer footer footer';
}
.header {
  grid-area: header;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.aside {
  grid-area: aside;
  border: 1px solid black;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.main {
  grid-area: main;
  border: 1px solid black;
}
.footer {
  grid-area: footer;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search {
  flex-grow: 2;
  padding: 16px 32px;
}

.btn {
  padding: 16px 32px;
  margin: 5px;
}

.search-btn {
  padding: 16px 16px;
  margin: 5px;
}

svg {
  height: 10px;
  width: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;

  margin-top: auto;
  /* position: fixed; */
  /* bottom: 0; */
  /* width: 100%; */
}

.aside-recipe {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}
.aside-recipe-img {
  margin-left: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;

  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.recipe-img {
  object-fit: cover;

  border: 1px solid black;
  height: 250px;
  width: 100%;
}
.recipe-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recipe-ingredients {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.recipe-ingredient {
  flex-basis: 50%;
}

.user-created-svg {
  border: 1px solid black;
  border-radius: 50%;
}

.center-text {
  text-align: center;
}
.publisher-link {
  text-align: right;
}
.publisher-link a {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  /* TODO */
}
